<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title>Список авторов</title>
</head>
<body>
    <!--Часть header-->
    <th:block th:replace="main/header :: header"></th:block>
    <!--Часть main-->
    <main>
        <div class="container mt-4">
            <h2 class="mt-5 mb-3">Список авторов</h2>
            <a th:href="@{/authors/new}" class="btn btn-success mb-3">Добавить нового автора</a>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ФИО</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author : ${authors}">
                    <td th:text="${author.id}"></td>
                    <td th:text="${author.toString()}"></td>
                    <td>
                        <a th:href="@{/authors/{id}(id=${author.id})}" class="btn btn-info btn-sm">Подробнее</a>
                        <a th:href="@{/authors/update/{id}(id=${author.id})}" class="btn btn-warning btn-sm">Изменить</a>
                        <a th:href="@{/authors/delete/{id}(id=${author.id})}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
    <th:block th:replace="main/footer :: footer"></th:block>
    <!--Скрипты для страницы-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>