<footer class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6 bg-light mb-3 pt-3 pl-5">
            <h5>Ссылки</h5>
            <ul class="list-unstyled">
                <li><a href="#">F.A.Q.</a></li>
                <li><a href="#">Связь с нами</a></li>
                <li><a href="#">Api документация</a></li>
                <li><a href="#" target="_blank" rel="noopener noreferrer">Проект (GitHub)</a></li>
            </ul>
            <h5>Конфиденциальность</h5>
            <ul class="list-unstyled">
                <li><a href="#">Политика безопастности</a></li>
            </ul>
        </div>
        <div class="col-md-6 bg-dark text-white mb-3 pt-3 pl-5">
            <div class="row">
                <div class="col-md-6 text-white mb-3 text-center">
                    <p>26434</p>
                    <h5>Количество текущих сделок</h5>
                </div>
                <div class="col-md-6 text-white mb-3 text-center">
                    <p>21289</p>
                    <h5>Текущее количество аукционов</h5>
                </div>
            </div>
        </div>
    </div>
</footer>