<footer class="py-5">
    <div class="row">
        <div class="col-6 col-md-2 mb-3">
            <h5>Ссылки</h5>
            <ul class="list-unstyled">
                <li><a href="#">F.A.Q.</a></li>
                <li><a href="#">Связь с нами</a></li>
                <li><a href="#">Api документация</a></li>
                <li><a href="https://github.com/Andrey-JJ/Market_Autction" target="_blank" rel="noopener noreferrer">Проект (GitHub)</a></li>
            </ul>
            <h5>Конфиденциальность</h5>
            <ul class="list-unstyled">
                <li><a href="#">Политика безопастности</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
        </div>
        <br>
        <div class="col-6 col-md-2 mb-3 ">
        </div>
        <div class="col-md-5 offset-md-1 mb-3">
            <div class="row">
                <div class="col-md-6 mb-3 text-center">
                    <p>26434</p>
                    <h5>Предложений</h5>
                </div>
                <div class="col-md-6 mb-3 text-center">
                    <p>21289</p>
                    <h5>Аукционов</h5>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top bg-dark">
    </div>-->
</footer>