<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <title>Создание аукциона</title>
</head>
<body>
    <!-- Часть header -->
    <th:block th:replace="main/header :: header"></th:block>
    <!-- Часть main -->
    <main>
        <div class="container mt-4">
            <h2 class="mt-5 mb-3">Создание аукциона</h2>
            <form th:action="@{/auctions/new}" method="post">
                <div class="mb-3">
                    <label for="auctionType" class="form-label">Тип аукциона</label>
                    <select id="auctionType" name="type" class="form-select" required>
                        <option value="" disabled selected>Выберите тип аукциона</option>
                        <option th:each="type : ${auctionTypes}" th:value="${type}" th:text="${type}"></option>
                    </select>
                </div>

                <div class="mb-3" id="auctionDurationDiv" style="display:none;">
                    <label for="auctionDuration" class="form-label">Продолжительность аукциона (часы:минуты)</label>
                    <input type="time" id="auctionDuration" name="duration" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="startPrice" class="form-label">Начальная цена</label>
                    <input type="number" step="0.01" id="startPrice" name="startPrice" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Книги</label>
                    <div class="row">
                        <div class="scrollable-list-books" style="max-height: 400px;">
                            <div class="col" th:each="book : ${books}">
                                <div class="card mb-3 border-0">
                                    <img class="card-img-top mx-auto" style="width: 150px; height: 230px; object-fit: cover;" th:src="@{/images/books/{imagePath}(imagePath=${book.image})}" alt="Book Image">
                                    <div class="card-body text-center">
                                        <h6 class="card-title" th:text="${#strings.length(book.title) > 25 ? #strings.substring(book.title, 0, 25) + '...' : book.title}"></h6>
                                        <input type="checkbox" class="form-check-input" style="margin-top: 0; margin-left: 0;" name="books" th:value="${book.id}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Создать</button>
            </form>
        </div>
    </main>
    <!-- Часть footer -->
    <div class="container">
        <th:block th:replace="main/footer :: footer"></th:block>
    </div>
    <!-- Скрипты для страницы -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('auctionType').addEventListener('change', function() {
                var auctionDurationDiv = document.getElementById('auctionDurationDiv');
                if (this.value === 'Завершить по времени') {
                    auctionDurationDiv.style.display = 'block';
                } else {
                    auctionDurationDiv.style.display = 'none';
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7U5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5l6a5" crossorigin="anonymous"></script>
</body>
</html>
