<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title>Описание роли</title>
</head>
<body>
    <!--Часть header-->
    <th:block th:replace="main/header :: header"></th:block>
    <!--Часть main-->
    <main>
        <div class="container mt-4">
            <h2 class="mt-5">Описание роли</h2>
            <div class="card mt-4 border-0">
                <div id="categoryInfo" class="collapse show">
                    <div class="card-body">
                        <h3>Название: <span th:text="${role.name}"></span></h3>
                        <h4>Список пользователей:</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>ФИО</th>
                                <th>Логин</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="users : ${role.users}">
                                <td th:text="${users.user.id}"></td>
                                <td th:text="${users.user.toString()}"></td>
                                <td th:text="${users.user.login}"></td>
                                <td th:text="${users.user.email}"></td>
                                <td>
                                    <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-primary">Подробнее о пользователе</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a th:href="@{/roles/update/{id}(id=${role.id})}" class="btn btn-warning">Редактировать издателя</a>
            <a th:href="@{/roles/delete/{id}(id=${role.id})}" class="btn btn-danger">Удалить издателя</a>
        </div>
    </main>
    <th:block th:replace="main/footer :: footer"></th:block>
    <!--Скрипты для страницы-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>